<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pq.reading.mapper.ReadingTaskMapper" >
  <resultMap id="BaseResultMap" type="com.pq.reading.entity.ReadingTask" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="chapter_id" property="chapterId" jdbcType="BIGINT" />
    <result column="class_id" property="classId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
    <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pq_reading_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pq.reading.entity.ReadingTask" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pq_reading_task (name,
      chapter_id, class_id, type,
      user_id, state,
      created_time, updated_time)
    values (#{name,jdbcType=VARCHAR},
      #{chapterId,jdbcType=BIGINT}, #{classId,jdbcType=BIGINT}, #{type,jdbcType=BIT},
      #{userId,jdbcType=VARCHAR}, #{state,jdbcType=BIT},
      #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pq.reading.entity.ReadingTask" >
    update pq_reading_task
    set name = #{name,jdbcType=VARCHAR},
      chapter_id = #{chapterId,jdbcType=BIGINT},
      class_id = #{classId,jdbcType=BIGINT},
      type = #{type,jdbcType=BIT},
      user_id = #{userId,jdbcType=VARCHAR},
      state = #{state,jdbcType=BIT},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, name, chapter_id, class_id, type, user_id, state,
     created_time, updated_time
    from pq_reading_task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, chapter_id, class_id, type, user_id, state,
     created_time, updated_time
    from pq_reading_task
  </select>

  <select id="selectByClassId" resultMap="BaseResultMap" >
    select id, name, chapter_id, class_id, type, user_id, state,
     created_time, updated_time
    from pq_reading_task
    where class_id = #{classId}
    and state  = 1
    and type = 1
    limit #{offset},#{size}
  </select>
  <select id="selectByClassId" resultType="java.lang.Integer" >
    select count(id)
    from pq_reading_task
    where class_id = #{classId}
    and state  = 1
    and type = 1
  </select>
</mapper>